.icon-custom{
    position: relative;
    
}
.icon-custom::after{
    content: "";
    position: absolute;
    left: 100%;
    top: 40%;
    width: 80px;
    height: 3px;
    background-color: #2c3e50;
}

.icon-custom::before{
    content: "";
    position: absolute;
    right: 100%;
    top:40%;
    width: 80px;
    height: 3px;
    background-color: #2c3e50;
}
.port-color{
    color: #2c3e50;
    padding-block: 5rem;
}
.port-color h2, .port-color i{
    color: #2c3e50;
}
.form-custom input{
   border-radius: 3%;
   border-color: #dee2e6;
   border-left: 0;
   border-top: 0;
}
.form-custom{border: 0;}
.form-custom input:focus-visible{
   
    outline: 0;
 }
 .btn-sb{
    background-color: #1abc9c;
    cursor: pointer;

 }
 .footer-custom{
    background-color: #2c3e50;
}