<app-navbar></app-navbar>

<main class="py-5">
    <section class="d-flex flex-column justify-content-center align-items-center port-color text-white">
       
        <h2 class="fw-bolder text-uppercase fs-1 mb-3">Contact Section</h2>
        <div class="icon-custom px-4 mb-4">
            <i class="fa-solid fa-star  "></i>
        </div>
        <form class="form-control d-flex flex-column w-50 gap-5 form-custom" >
            <input class="p-2  " type="text" placeholder="your username" name="userName">
            <input class="p-2  " type="number" placeholder="your age" name="age">
            <input class="p-2  " type="email" placeholder="your email" name="email">
            <input class="p-2  " type="password" placeholder="your password" name="password">
            <button class="submit btn btn-sb text-white mt-4 w-25">Send a Message</button>
        </form>
        </section>
</main>

<footer class="footer-custom">
    <app-footer></app-footer>
</footer>