<header>
    <app-navbar></app-navbar>
</header>
<main>
    <section class="d-flex flex-column justify-content-center align-items-center home-color p-5 vh-100 text-white">
        <div class="d-flex justify-content-center align-items-center">
            <img src="./assets/images/avataaars.svg" alt="avatar" class="w-75 mb-2">

        </div>
        <h2 class="fw-bolder text-uppercase fs-1 mb-3">Start Framework</h2>
        <div class="icon-custom px-4">
            <i class="fa-solid fa-star  "></i>
        </div>
        <span>Graphic Artist - Web Designer - Illustrator</span>
    </section>
</main>

<footer class="footer-custom">
    <app-footer></app-footer>
</footer>